
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户故事工具</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://app.storiesonboard.com/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://app.storiesonboard.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://app.storiesonboard.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://app.storiesonboard.com/favicon-16x16.png">
    <link rel="manifest" href="https://app.storiesonboard.com/site.webmanifest">
    <link rel="mask-icon" href="https://app.storiesonboard.com/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>

<section id="navbar">
<div class="w3-top w3-bar w3-white grey">
      <a href="/login" class="w3-menu-cta w3-round-small w3-light-blue w3-hide-sm">登录</a>
</div>
</section>

<section id="title">
<div class="w3-content">
   <h1>用户故事工具</h1>
   <h2 class="grey">及时交付正确的产品</h2>
</div>
</section>


<section id="mainpicture">
<div class="w3-content w3-row">

  <div class="w3-col l70 w3-padding-right-48">
  <div><img src="img/main-picture.jpg" style="width:100%" alt="及时交付正确的产品" title="用户故事工具"></div>
  </div>

  <div class="w3-col l30 w3-padding-top-70">
    <p class="grey main">"这是类固醇的便利条。我用过的最好的在线故事地图软件。"</p>
    <p class="quote">艾瑞克 - 产品经理</p>
    <p class="grey main">"与Trello、Jira和Github集成的双向同步使它成为工程或开发团队一个简单的选择。"</p>
    <p class="quote">丹尼尔<br>敏捷工程 & 客户创新</p>
    <div class="w3-hide-sm"><a href="#buildbacklog" class="scroll-down" address="true"></a></div>
  </div>
</div>

</section>

<section id="buildbacklog">
<div class="w3-content">
 <h2 class="feature">建立一个大家都能理解的backlog</h2>
</div>

<div class="w3-content w3-row pt32">
 <div class="w3-col l40">
  <h3 class="feature">用户故事地图是客户的视觉辅助工具</h3>
  <p class="feature">任何一个对这个产品不熟悉的人都可以跳进来，清楚地知道到底发生了什么</p>
  <p class="feature italic">免费邀请无限观众</p>
 </div>
 <div class="w3-col l60 w3-padding-left-48"><img src="img/feature-11.png" class="feature" alt="User story maps are your customer's visual aid"></div>
</div>

</section>

<section id="alwayswithyou">
<div class="w3-content">
 <h2 class="feature">永远和你在一起！使用它来显示项目的状态</h2>
</div>

<div class="w3-quote">
 <p class="quotei">"非常适合与其他办公室的团队成员共享我们的物理地图"</p>
 <p class="quote">莎拉<br>敏捷业务分析师</p>
</div>

<div class="w3-content w3-row pt32">
 <div class="w3-col l60 w3-padding-right-48"><img src="img/feature-21.png" class="feature" alt="The productive way to brainstorm or collaborate"></div>
 <div class="w3-col l40">
  <h3 class="feature">头脑风暴或协作的有效方式</h3>
  <p class="feature">全面的产品范围有助于在规划过程中发现漏洞</p>
  <p class="feature italic">快速的故事写作和直观的头脑风暴功能</p>
 </div>
</div>

<div class="w3-content w3-row pt32">
 <div class="w3-col l60 w3-padding-right-48"><img src="img/feature-22.png" class="feature" alt="The same backlog on each teammate's wall"></div>
 <div class="w3-col l40">
  <h3 class="feature">在每个队友的墙上都有同样的backlog</h3>
  <p class="feature">连接世界各地的项目组和远程团队</p>
  <p class="feature italic">基于云的backlog实时更新</p>
 </div>
</div>

</section>

</body>
</html>