<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Login to work on your product vision"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>创建用户故事-用户故事工具</title>
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/jquery.reject.css" rel="stylesheet"/>
    <link href="css/vms.css" rel="stylesheet"/>
    <link href="css/jquery-confirm.min.css" rel="stylesheet"/>
    <link href="css/bundled.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://app.storiesonboard.com/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://app.storiesonboard.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://app.storiesonboard.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://app.storiesonboard.com/favicon-16x16.png">
    <script src="js/public.js"></script>
    <script src="js/jquery.reject.js"></script>
    <script src="js/jquery-confirm.min.js"></script>
    <script src="js/storymap.js"></script>
</head>
<body>
<div id="header-background" class="default-sized"></div>
<div id="application-host">
    <div id="application-host-views"
         data-bind="foreach: { data: framework.core.ApplicationContext.getSingleInstance().getPresenter().currentModels, afterAdd: framework.core.ApplicationContext.getSingleInstance().getPresenter().showNewViewTransition.bind(framework.core.ApplicationContext.getSingleInstance().getPresenter()) }"
         style="overflow: visible;">
        <div data-bind="root: { name: tmpl, data: viewModel, afterRender: function() {if (getKeepPreloader() === false) framework.core.ApplicationContext.getSingleInstance().getPresenter().hidePreloader(); viewModel.afterRender ? viewModel.afterRender.bind(viewModel)() : function() {}; getAfterRenderFunc() ? getAfterRenderFunc()() : function() {}; } }, attr: { id : domElementId }, css: cssClass"
             style="" id="__view_DashboardViewModel" class="dashboard">
            <div id="header" data-bind="disableContextMenu:true">
                <div id="header-title" data-bind="section: { name: 'header-title-section', optional: true }"><a
                        class="brand link" data-bind="text: workspaceName, go:'/'" href="#">工作空间</a></div>
                <div id="header-menu" data-bind="section: { name: 'header-menu-section', optional: true }">
                    <!-- Menu section -->
                    <div class="header-menu-item inline-block" data-bind="userRole:'WorkspaceAdmin,SubscriptionAdmin'">
                        <div class="manage-dropdown-menu" data-bind="dropdownmenu: true" data-ui-type="dropdown-menu"><a
                                class="menu-button" href="#" tabindex="1"><i
                                class="menu-button-icon user-icon"></i><span data-bind="text:userName" th:text="${session.currentUser.username}">user</span></a>
                        </div>
                        <div class="manage-dropdown-menu" data-bind="dropdownmenu: true" data-ui-type="dropdown-menu"><a
                                class="menu-button" href="#" tabindex="1"><span id="logout">登出</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wrapper" data-bind="disableContextMenu:true"><!--<div class="header-shadow"></div>-->
                <div data-bind="section: { name: 'sub-header-section', optional: true }">

                </div>
                <!-- Main section -->
                <div class="cf" data-bind="section: { view: view, name: 'main-section' }">
                    <div class="wrapper-inner"
                         data-bind="css: { 'dashboard-right-for-pinned-search' : isSearchPanelPinned() }, winWidth: winWidth">
                        <div id="main" class="dashboard-content cf"><!-- No story maps --><!--ko ifnot:hasStoryMaps-->
                            <!--/ko--><!--ko if:hasStoryMaps-->
                            <div class="tile-group-row cf"><!-- Storymaps -->
                                <div id="dashboard-storymaps" class="tile-group three-column"
                                     data-bind="visible: hasStoryMaps(), css: { 'one-column' : dashboardHasOneColumn, 'two-column' : dashboardHasTwoColumn, 'three-column' : dashboardHasThreeColumn }">
                                    <div class="tile-group-header"
                                         data-bind="css: {'collection-tile-header' : showCollectionContent() }">
                                        <div class="tile-group-header-left"><!--ko if:showCollectionContent -->
                                            <!--/ko--><!--ko ifnot:showCollectionContent -->您的故事地图<!--/ko--></div>
                                        <div class="tile-group-header-right">
                                            <div data-bind="visible: visibleDashboardItems.pageCount() > 1"
                                                 style="display: none;">
                                                <div class="tile-pager">
                                                    <div class="tile-paging-info"><span
                                                            data-bind="text: visibleDashboardItems.pagingInfo()">1-4 | 4</span>
                                                    </div>
                                                    <a class="btn-icon opacitied"><i class="pager-left"
                                                                                     data-bind="clickWithTran: { element: '#storymaps-content', onClick: visibleDashboardItems.movePrevious, transition: app.getTransition('pager') }"></i></a><a
                                                        class="btn-icon opacitied"><i class="pager-right"
                                                                                      data-bind="clickWithTran: { element: '#storymaps-content', onClick: visibleDashboardItems.moveNext, transition: app.getTransition('pager') }"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-group-content" id="storymaps-content">
                                        <div class="tile-cell" th:each="storymap : ${storymaps}">
                                            <div class="tile-storymaps" th:mapid="${storymap.mapid}">
                                                <span th:text="${storymap.mapid}" style="display:none"></span>
                                                <div class="favorite-storymap">
                                                    <i class="app-icon-favorite-o" title="删除"></i>
                                                </div>
                                                <span class="caption"
                                                      data-bind="truncate: {text: storymap.name, height: 73}, css: { tile-indent-caption : storymap.isPublic() || storymap.isWorkspaceVisible() }"
                                                      th:text="${storymap.name}">GuideMap</span>
                                                <span
                                                    class="description"
                                                    data-bind="truncate: {text: storymap.description, height: 55}"
                                                    th:text="${storymap.description}">Sample project for demonstrating how to use StoriesOnBoard for User Story Mapping.</span>
                                                <span data-bind="visible: storymap.isArchived()" style="display: none;"><div>
                                                <span class="extra-small-font">Archived </span><span
                                                        class="extra-small-font"
                                                        data-bind="timeago: storymap.archivedAt">-</span>
                                                <span class="extra-small-font">by</span>
                                                <span class="extra-small-font"
                                                      data-bind="text:storymap.archivedBy"></span></div>
                                                </span>
                                                <div><span class="bottom_left"><span class="h5"
                                                                                     th:text="${storymap.releasenum}">0</span><span
                                                        class="extra-small-font">发布</span></span><span
                                                        class="bottom_right"><span class="h5"
                                                                                   th:text="${storymap.ongoingstorynum}">0</span><span
                                                        class="h5">/</span><span class="h5"
                                                                                 th:text="${storymap.storynum}">0</span><span
                                                        class="extra-small-font">故事</span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dashboard-action-buttons tile-group btn-column">
                                    <div class="tile-group-header">
                                        <div class="tile-group-header-left">操作</div>
                                    </div>
                                    <div class="tile-group-content horizontal-buttons" id="storymaps-content"
                                         data-bind="css: { 'horizontal-buttons' : showHorizontalActionButtons }">
                                        <div id="search-panel-on-dashboard" class="tile-btn" href="#storymap-search-panel">
                                            <div class="action">
                                                <div>
                                                    <i class="search-storymap-icon"></i>
                                                    <br>
                                                    <span>查找地图</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-cell horizontal-buttons" id="new-storymap-button"
                                         data-bind="css: { 'horizontal-buttons' : showHorizontalActionButtons }">
                                        <div id="go-to-new-storymap" class="tile-btn link"
                                             data-bind="go: { url: 'newstorymap' }, qtip: { contentId: '#new-storymap-tooltip-content', position: 'right' }"
                                             href="/newstorymap" data-hasqtip="4">
                                            <div class="action">
                                                <div><i class="add-icon"></i><br><span>创建地图</span></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>

                        <div id="storymap-search-panel" style="">
                            <div class="cf">
                                <div class="storymap-search-panel-button">
                                    <a href="#" class="btn btn-icon light link"
                                       id="close-search-panel">
                                    </a>
                                </div>
                                <div class="storymap-search-panel-title">查找地图</div>
                            </div>
                            <div class="storymap-search-panel-content">
                                <input class="storymap-search-keywords" name="keywords" placeholder="输入地图的名字..." type="text" id="keyword">
                                <div class="search-result-container" style="height: 334px;">
                                    <li id="base-result" style="display:none"><a href="#" tabindex="0">2312</a></li>
                                    <ul class="matching-storymap-lists">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>